@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "./variables";
@import "./mixins";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #202020;
}

@import "./photography-header";
@import "./photography-slider";
@import "./photography-footer";
