.photography-slider-parent {
  width: 100%;
  background-image: url("../images/photography-background.png");
  background-repeat: no-repeat;
  background-color: #010101;

  @include mobile {
    padding: 0px 10px;
  }

  @include tablet {
    padding: 0px 10px;
  }
  .contactusbutton {
    display: flex;

    .mapimage {
      flex: 1;
    }
    .user-info {
      width: 376px;
      padding: 0 20px;
      h1 {
        font-size: 28px;
      }
      h3 {
        font-size: 15px;
        font-weight: normal;
      }

      .wrapper {
        margin-top: 20px;
        .text {
          width: 155px;
        }
        .lastname {
          margin-left: 20px;
        }
        .text1 {
          margin-top: 20px;
          width: 335px;
        }
      }
      .submit {
        margin-top: 20px;
        height: 25px;
        background: #fdb461;
        border-radius: 5px;
        color: #202020;
        border: none;
        outline: none;
        line-height: 23px;
        cursor: pointer;
      }
    }
  }
  .photography-slider {
    max-width: $desktop-width;
    margin: 0px auto;
    color: #010101;

    .slider-placeholder {
      width: 100%;
    }

    .parent-blog {
      padding-bottom: 50px;

      .blog-roller {
        color: #ffffff;

        .blog:nth-child(even) {
          .pet-image {
            order: 1;
          }

          .discription {
            padding-left: 0px;
          }
        }

        .blog {
          display: flex;
          padding-top: 50px;

          .otherinfo {
            color: #ffffff;
          }

          &:nth-child(1) {
            color: #010101;
          }

          &:nth-child(2) {
            color: #010101;
          }

          @include mobile {
            padding-top: 20px;
          }

          .pet-image {
            width: 300px;

            @include mobile {
              width: 100px;
            }

            img {
              width: 100%;
            }
          }

          .discription {
            flex: 1;
            padding-left: 50px;

            @include mobile {
              padding-left: 0px;
            }

            .blog-heading {
              font-style: normal;
              font-weight: 600;
              line-height: 77px;
              font-size: 64px;
              padding-top: 20px;

              @include mobile {
                font-size: 30px;
                line-height: 44px;
              }
            }
            .new-blog-heading {
              font-style: normal;
              font-weight: 600;
              line-height: 77px;
              font-size: 64px;
              padding-top: 20px;

              @include mobile {
                font-size: 25px;
                line-height: 44px;
              }
            }
            .blog-info {
              display: flex;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
              font-size: 18px;
              margin-top: 40px;

              @include mobile {
                font-size: 14px;
                margin-top: 20px;
                line-height: 28px;
              }
            }

            .new-blog-info {
              display: flex;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
              font-size: 18px;
              margin-top: 40px;

              @include mobile {
                font-size: 14px;
                margin-top: 20px;
                line-height: 20px;
              }
            }

            .pet-blog-image {
              display: block;
              margin-left: auto;
              margin-right: auto;

              @include mobile {
                width: 100%;
              }
            }

            a.links {
              margin-top: 40px;
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              font-size: 18px;
              text-transform: uppercase;
              color: rgba(253, 180, 97, 0.82);

              @include mobile {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
